@import "../styles/variables";

.host {
  :global(.modal-content) {
    padding: 18px;
    min-width: 300px;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.text {
  font-size: 16px;
  margin-bottom: 8px;
}

.error {
  font-size: 16px;
  color: $error;
  padding: 10px 0;
  margin-bottom: -16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 16px;
  margin-bottom: -6px;
}
