@import "../styles/elevation.scss";

.host {
  appearance: none;
  overflow: hidden;
  background-color: white;
  border-radius: 4px;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  transition: padding-top 200ms, padding-bottom 200ms;
  cursor: pointer;

  icon {
    font-size: 32px;
    transform-origin: center;
    transition: rotate 200ms;
  }

  .expanded & {
    padding-top: 20px;
    padding-bottom: 20px;

    icon {
      rotate: -180deg;
    }
  }
}

.content {
  padding: 16px;
  padding-top: 6px;
}

.expander {
  transition: height 200ms, opacity 200ms;
  overflow: hidden;
}

.contentWrapper {
  top: 0;
  left: 0;
  position: absolute;
  flex-shrink: 0;
  height: auto;
}
