.host {
  flex-direction: column;
  align-items: stretch;
}

.styles {
  flex-direction: column;
  align-items: stretch;

  .showAllButton {
    margin-bottom: 20px;
  }

  &:not(.showAll) {
    .row:not(.exists) {
      display: none;
    }
  }
}

.row {
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 4px;
  overflow: hidden;

  &:hover {
    background: 0.82;
  }

  .removeButton {
    visibility: hidden;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
  }

  &.exists {
    font-weight: bold;

    .removeButton {
      font-weight: none;
      visibility: visible;
    }
  }

  &.rectPart {
    flex-grow: 0;
    width: 100px;

    .rowContent {
      align-items: stretch;
      justify-content: center;
      text-align: center;
    }

    &.part-top {
      .rowContent {
        flex-direction: column;
      }
    }

    &.part-bottom {
      .rowContent {
        flex-direction: column-reverse;
      }
    }

    &.part-left,
    &.part-start {
      .rowContent {
        flex-direction: row;
      }
    }

    &.part-right,
    &.part-end {
      margin-left: 40px;
      flex-direction: row-reverse;

      .rowContent {
        flex-direction: row-reverse;
      }
    }
  }
}

.propRectContainer {
  padding-top: 6px;
  padding-bottom: 6px;
  flex-direction: row;

  &:not(:first-child) {
    border-top-color: 0.78;
    border-top-width: 2px;
  }

  &:hover {
    background: 0.82;
  }
}

.rectHead {
  width: 150px;
  align-self: center;

  .rowContent {
    flex-direction: column;
    align-self: center;
  }
}

.propRect {
  &.corner {
    .row.rectPart {
      &.part-top,
      &.part-right {
        margin-left: 12px;
        flex-direction: row-reverse;
        .rowContent {
          flex-direction: row-reverse;
        }
      }

      &.part-bottom,
      &.part-left {
        flex-direction: row;
        .rowContent {
          flex-direction: row;
        }
      }
    }
  }
}

.propRectRow {
  flex-direction: row;
  justify-content: center;
}

.rowContent {
  flex-grow: 1;
  flex-basis: 0;
  align-items: stretch;
  align-self: stretch;
}

.group {
  border-radius: 8px;
  padding: 6px;
  margin: 6px;
  background: 0.86;
  border-width: 2px;
  border-color: 0.83;
}
