@font-face {
  font-family: sans-serif;
  src: url(resource:ReactUnity/fonts/sans-serif);
}

@font-face {
  font-family: monospace;
  src: url(resource:ReactUnity/fonts/monospace);
}

:root {
  font-size: 24px;
  font-family: sans-serif;
  color: black;
}

icon {
  font-size: 24px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

image {
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

button {
  padding: 8px 12px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(90%, 90%, 90%, 1);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  appearance: button;
}

input {
  flex-direction: row;
  padding: 8px;
  min-height: 40px;
  min-width: 200px;
  max-width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  text-align: left;
  cursor: text;
  appearance: input;
}

scroll {
  overflow: scroll;
  flex-shrink: 1;
}

scroll _scrollbar {
  background-color: rgb(210, 210, 210);
  appearance: button;
  width: 12px;
  height: 12px;
}

scroll _scrollbar-thumb {
  background-color: rgba(170, 170, 170);
}

toggle {
  width: 24px;
  aspect-ratio: 1;
  flex: 0 0 auto;
  margin: 6px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(82%, 82%, 82%, 1);
  border-radius: 6px;
  cursor: pointer;
  appearance: toggle;
}

toggle:after {
  position: absolute;
  inset: 0;
  content: "";
  pointer-events: none;
  background-blend-mode: multiply;
  background-color: black;
  background-image: transparent;
}

toggle:checked:after {
  background-image: url(res:ReactUnity/sprites/check);
}

toggle:indeterminate:after {
  background-image: url(res:ReactUnity/sprites/indeterminate);
}

anchor {
  font-style: underline;
  cursor: pointer;
}

label {
  cursor: pointer;
  flex-direction: row;
  align-items: center;
}
