@font-face {
  font-family: sans-serif;
  src: url(resource:ReactUnity/fonts/sans-serif);
}

@font-face {
  font-family: monospace;
  src: url(resource:ReactUnity/fonts/monospace);
}

:root {
  font-family: sans-serif;
}

icon {
  font-size: 24px;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

slider {
  height: 20px;
  width: 200px;
  transform-origin: 50% 50%;
  navigation: vertical;
  cursor: pointer;
  background-image: procedural://white;
  background-color: 0,0,0,0;
  border-color: 0.6;
}

slider[orientation="vertical"] {
  width: 20px;
  height: 200px;
  navigation: horizontal;
}

slider _track {
  position: absolute;
  start: 0;
  end: 0;
  top: 25%;
  bottom: 25%;
  background-image: inherit;
  background-color: 0.78;
  border-color: inherit;
  border-radius: 4px;
  border-width: 1px;
  flex-direction: row;
}

slider[orientation="vertical"] _track {
  start: 25%;
  end: 25%;
  top: 0;
  bottom: 0;
  flex-direction: column-reverse;
}

slider[direction="horizontal-reverse"] _track,
slider[direction="vertical-reverse"] _track {
  justify-content: flex-end;
}

slider _fill {
  background-image: inherit;
  background-color: 0.92;
  border-color: inherit;
  width: 100%;
  height: 100%;
}

slider _thumbContainer {
  background-image: inherit;
  background-color: 0,0,0,0;
  border-color: inherit;
  position: absolute;
  width: 0;
  height: 0;
}

slider[direction="horizontal"] _thumbContainer {
  top: 50%;
  end: 0;
}

slider[direction="horizontal-reverse"] _thumbContainer {
  top: 50%;
  start: 0;
}

slider[direction="vertical"] _thumbContainer {
  start: 50%;
  top: 0;
}

slider[direction="vertical-reverse"] _thumbContainer {
  start: 50%;
  bottom: 0;
}

slider _thumb {
  align-items: center;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  transform-origin: center;
  translate: -50% -50%;
  border-width: 1px;
  border-color: inherit;
  background-image: inherit;
  background-color: 0.92;
}

slider[orientation="horizontal"] _thumb {
  flex-direction: column;
}

slider[orientation="vertical"] _thumb {
  flex-direction: row;
}

slider:hover _thumb {
  background-color: 0.96;
}

slider:focus _thumb {
  background-color: 0.98;
}

slider:active _thumb {
  background-color: 0.86;
}
