:root {
  font-size: 30;
  color: red;
}

.helloClass {
  font-size: 55;
}

.small {
  font-size: 13;
}

.small > .asdf {
  font-size: 100 !important;
}

.small .asd,
.small .asdf {
  font-size: 30;
}

.small > .asd {
  font-size: 100;
  color: black;
}

input {
  font-size: 100;
  box-shadow: 4px 4px 5px 6px 10px black;

  _placeholder {
    font-size: 50;
    color: black;
  }
}

.testImportant {
  font-size: 30;
}

.testImportant {
  font-size: 100 !important;
}

.testImportant {
  font-size: 40;
}

.testSibling {
  visibility: hidden;

  view {
    font-size: 10;
  }

  .sib0 ~ .sib2 + .sib2 {
    font-size: 40;
  }

  .sib0 ~ view {
    font-size: 30;
  }

  .sib0 + view {
    font-size: 20;
  }
}

.testNot view {
  font-size: 10;

  &:not(.not2) {
    font-size: 30;
  }

  &:not(.not1) {
    font-size: 20;
  }

  &:first-child {
    font-size: 40;
  }

  &:last-child {
    font-size: 50;
  }
}

.testNth {
  flex-direction: row;
  flex-wrap: wrap;

  view {
    &:nth-child(2n+1) {
      color: red;
      border-bottom-width: 4px;
      border-color: black;
    }
    &:nth-child(even) {
      color: blue;
    }
    &:nth-child(-n+4) {
      color: orange;
    }
    &:nth-child(8n+5) {
      color: magenta;
    }
    &:nth-child(9) {
      color: teal;
    }
  }
}
