:root {
  background-color: rgb(52, 71, 105);
  color: white;
}

.mat-button {
  background-color: transparent !important;
  color: white !important;
  border-radius: 6px;
  border-width: 2px;
  border-color: white;
  margin: 6px;
}
