* {
  white-space: normal;
}

.host {
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  font-size: 12px;
}

head {
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.logo {
  max-height: 200px;
  max-width: 200px;
  align-self: center;
  animation: appear 800ms 400ms both;
  transform-origin: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: medium;
}

b {
  font-weight: bold;
}

section {
  padding: 12px;
  border-radius: 10px;
  margin: 6px;
  background-color: rgba($color: #000000, $alpha: 0.08);
  border-width: 1px;
  border-color: rgba($color: #000000, $alpha: 0.16);

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  row {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    text {
      flex-shrink: 1;
    }
  }

  actions {
    flex-shrink: 0;
    margin-left: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

.projectPath {
  background-color: transparent;
  border-width: 0;
}

.checkIcon,
.warnIcon,
.errorIcon,
.cancelIcon {
  flex-shrink: 0;
  margin-right: 6px;
}

.infoButton {
  padding: 4px;
  background-color: transparent;
}

.infoIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 1;
}

.checkIcon {
  color: rgb(115, 255, 0);
}

.warnIcon {
  color: rgb(255, 242, 0);
}

.errorIcon {
  color: crimson;
}

@keyframes appear {
  from {
    opacity: 0%;
    scale: 0.8 0.8;
  }

  to {
    opacity: 100%;
    scale: 1 1;
  }
}

spinner {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 800ms infinite;
  margin: 10px auto;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 180deg;
  }
}
