.canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pan;
}

.box {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: 0.9;
  border-width: 1px;
  border-radius: 6px;
}

.handle {
  position: absolute;
  right: -7px;
  top: 10px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: yellow;
  margin: 0;
  padding: 0;
  cursor: link;
}
