@font-face {
  font-family: sans-serif;
  src: "resource://ReactUnity/fonts/sans-serif";
}

@font-face {
  font-family: monospace;
  src: "resource://ReactUnity/fonts/monospace";
}

:root {
  flex-grow: 1;
  flex-shrink: 1;
}

image {
  color: white;
}
