.react-unity__renderer__hidden {
  display: none !important;
}

@font-face {
  font-family: sans-serif;
  src: url(resource:ReactUnity/fonts/sans-serif);
}

@font-face {
  font-family: monospace;
  src: url(resource:ReactUnity/fonts/monospace);
}

:root {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 16px;
  color: black;
}

:graphic {
  color: white;
}

br {
  width: 0;
  height: 0;
  visibility: hidden;
}

br+br {
  height: auto;
}
