@import "~@reactunity/material/styles";

:root > * {
  background-color: #fafafa;
}

.app {
  padding: 20px;
  max-width: 960px;
  width: 100%;
  align-self: center;
  align-items: stretch;

  :global(.md-button) {
    align-self: center;

    &:hover {
      @include elevation(9);
    }

    &:active {
      @include elevation(1);
    }
  }

  anchor {
    align-self: flex-start;
  }

  h1 {
    font-size: 36px;
    font-style: smallcaps, bold;
    color: #582a9c;
    margin-bottom: 12px;
  }

  h2 {
    font-size: 30px;
    font-style: smallcaps;
    color: #fb2f8e;
    margin-bottom: 8px;
  }

  section {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  row {
    flex-direction: row;
    align-items: center;
  }

  column {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
  }

  slider {
    margin: 10px;
  }

  image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    object-fit: scale-down;
    object-position: 50%;
    transition: object-position 2s;
    align-self: stretch;
  }

  object {
    border-width: 1px;
    border-radius: 20px;
    border-color: black;
    margin: 5px;
    background-color: hsla(152, 37%, 59%, 0.745);
    object-fit: none;
  }

  render,
  video {
    object-fit: scale-down;
    object-position: left;
  }

  button {
    &:hover {
      audio: url(res:click);
    }
  }

  portal {
    position: absolute;
    left: 10;
    top: 10;
    z-index: 1000;
  }
}
