@import "~@reactunity/material/styles";

:root {
  font-size: 24px;
  background-color: #fafafa;
}

.app {
  padding: 20px;
  max-width: 960px;
  width: 100%;
  align-self: center;
  align-items: stretch;

  anchor {
    align-self: flex-start;
  }

  h1 {
    font-size: 36px;
    font-style: smallcaps, bold;
    color: #582a9c;
    margin-bottom: 12px;
    transition: border 1s;
    border-color: yellow;

    &:hover {
      border: 20px solid red;
    }
  }

  h2 {
    font-size: 30px;
    font-style: smallcaps;
    color: #fb2f8e;
    margin-bottom: 8px;
  }

  section {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  row {
    flex-direction: row;
    align-items: center;
  }

  column {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
  }

  slider {
    margin: 10px;
  }

  image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    object-fit: scale-down;
    object-position: 50%;
    transition: object-position 2s;
    align-self: stretch;
  }

  object {
    border-width: 1px;
    border-radius: 20px;
    border-color: black;
    margin: 5px;
    background-color: hsla(152deg, 37%, 59%, 0.745);
    object-fit: none;
  }

  render,
  video {
    object-fit: scale-down;
    object-position: left;
  }
}

pulsar {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: pulsate 6s linear infinite;
  box-shadow: 0 0 20px #fff, -20px 0 80px #f0f, 20px 0 80px #0ff, inset 0 0 50px #fff, inset 50px 0 80px #f0f,
    inset -50px 0 80px #0ff, inset 50px 0 300px #f0f, inset -50px 0 300px #0ff;
}

@keyframes pulsate {
  50% {
    box-shadow: 0 0 20px #fff, 20px 0 80px #f0f, -20px 0 80px #0ff, inset 0 0 50px #fff, inset -50px 0 80px #f0f,
      inset 50px 0 80px #0ff, inset -50px 0 300px #f0f, inset 50px 0 300px #0ff;
  }
}

lorem {
  color: red;
  font: 20px /40px;
}

#my-button {
  box-shadow: 0 0 4px 15px 3px -5px black;
}
