.host.chips {
  .triggerPart {
    font-size: 0.8125rem;
    margin: 4px 4px 2px 4px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding: 4px 8px;
    text-align: center;
  }

  .triggerContent {
    margin-left: -4px;
  }
}

.triggerContent {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.trigger {
  font-size: 1em;
  flex: 1 1 0;
  overflow: hidden;
  text-align: left;
  padding: 0 12px;
  border: none;
  appearance: none;
  background-color: none;
  border-radius: 0;
  pointer-events: all;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.menuRoot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 0;
  z-index: 10000;
  translate: 0 -20px;
  opacity: 0;
  display: none;
  transition: translate 300ms ease-out, opacity 300ms ease-out, display 300ms step-end;
  pointer-events: none;

  &.opened {
    transition: translate 300ms ease-out, opacity 300ms ease-out, display 300ms step-start;
    display: flex;
    translate: 0 0;
    opacity: 1;
    pointer-events: auto;
  }
}

.backdrop {
  position: absolute;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  background-color: transparent;
  cursor: default;
  pointer-events: all;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  background-color: white;
  max-height: 60vh;
}

.option {
  border-radius: 0;
  text-align: left;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 48px;

  &.selected {
    background-color: rgba(0, 0, 0, 0.06);
  }

  .toggle {
    pointer-events: none;
  }
}

.caret {
  pointer-events: none;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: absolute;
  right: 12px;
  top: 50%;
  translate: 0 -50%;
  width: 36px;
  height: 36px;
  line-height: 20px;
  transition: rotate 300ms;
}

.host.opened {
  .caret {
    rotate: 180deg;
  }
}

.defaultSeparator {
  margin-right: 0.4em;
}
