@import "../styles/elevation";

.label {
  flex-direction: row;
  align-items: center;

  &:hover .toggle {
    background-color: rgba($color: #000000, $alpha: 0.04);
  }
}

.toggle {
  appearance: none;
  overflow: hidden;
  border-radius: 4px;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  color: black;
  border: 2px black;
  background-color: transparent;
  box-shadow: none;
  width: 20px;
}

.label.radio {
  .toggle {
    border-radius: 50%;

    &:checked:not(:indeterminate):after {
      background-image: url(res:ReactUnity/sprites/radio);
    }
  }
}
