@import "./elevation";

@for $var from 0 to 24 {
  .md-elevation-#{$var} {
    @include elevation($var);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}

@mixin hideScrollBar {
}

@mixin fullCover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
