@import "src/styles/variables";

.host :global(.modal-content) {
  padding: 18px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

.text {
  font-size: 16px;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: -18px;
  margin-top: 16px;
  margin-bottom: -6px;

  button {
    color: $primary;
  }
}
