name: Add latest tag to new release
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  run:
    name: Run local action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run latest-tag
        uses: EndBug/latest-tag@v1
        with:
          description: The latest published version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
